@import "../../scss/index.scss";

.steps-section {
  padding: 0 24px;

  .image-box {
    @include flex(column);
    @include center;
    text-align: center;
    @include mq("tablet", "min") {
      @include flex();
      text-align: left;
      justify-content: center;
      gap:170px;
      &:nth-child(odd){
        flex-direction: row-reverse;
      }
    }
    div {
      @include flex(column);
    }
    p#title {
      color: $black;
      font-size: 1.25rem;
      font-family: myfontSemiBold;
      @include mq("tablet", "min") {
        font-size: 2rem;
      }
    }
    p#desc {
      color: $grey;
      font-weight: 400;
      margin-top: -12px;
      line-height: 24px;
      @include mq("tablet", "min") {
        width: 376px;
      }
    }
    button {
      color: $teal;
      font-size: 1.125rem;
      text-align: left;
      font-family: myfontMedium;
      @include mq("tablet" , "min"){
        display: block;
      }
      display: none;
      .arrow-right {
        width: 10px !important;
        height: 12px !important;
        margin-left: 16px;
        transform: translateX(-20px);
        opacity: 0;
        transition: all 0.3s;
      
      }
      &:hover .arrow-right {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
  svg {
    width: 100%;
    height: 100%;
    @include mq("tablet", "min") {
      width: 480px !important;
      height: 460px !important;
    }
  }
}
