@font-face {
    font-family: myfontSemiBold;
    src: url('../../assets/fonts/TomatoGrotesk-SemiBold.otf');
 }
 @font-face {
   font-family: myfontBold;
   src: url('../../assets/fonts/TomatoGrotesk-Bold.otf');
}
 @font-face {
    font-family: myfontRegular;
    src: url('../../assets/fonts/TomatoGrotesk-Regular.otf');
 }
 
 @font-face {
   font-family: myfontMedium;
   src: url('../../assets/fonts/TomatoGrotesk-Medium.otf');
}